.rst-content .section dl dt {
    margin-bottom: 0.25rem;
}

/* Styles for the navigation search bar */
.wy-side-nav-search {
    /* Sets the background color of the side navigation search bar to dark gray (#696969) */
    background-color: #696969;
}
.wy-side-nav-search input[type="text"] {
    border-color: #868686;
}

/* Media query for responsive design on smaller screens (max-width: 768px) */
@media screen and (max-width: 768px) {
    /* Styles for the top navigation bar on smaller screens */
    .wy-nav-top {
        /* Sets the background color of the top navigation bar to dark gray (#696969) when the screen width is 768px or less */
        background-color: #696969;
        border-color: #868686;
    }
}


/* Styles for lists WITHIN .rst-content .section */
.rst-content .section ul li > ul {
    margin-bottom: 0; /* Set bottom margin of ul to 0 */
}

.rst-content .section ul li > * {
    margin-top: 0;
    margin-bottom: 0;
}

.rst-content .section ul li,
.rst-content .section ol li {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
}

/* Remove vertical spacing for li's WITHOUT paragraphs */
.rst-content .section li:not(:has(p)) {
    padding-top: 0;
    padding-bottom: 0;
}

/* Styles for NESTED lists WITHIN .rst-content .section */
.rst-content .section ul ul,
.rst-content .section ol ol,
.rst-content .section ul ol,
.rst-content .section ol ul {
    margin-bottom: 0; /* Remove bottom margin for nested lists as well */
}

.rst-content .section ul ul li,
.rst-content .section ol ol li,
.rst-content .section ul ol li,
.rst-content .section ol ul li {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

/* Spacing for paragraphs INSIDE list items of NESTED lists */
.rst-content .section ul ul li > p,
.rst-content .section ol ol li > p,
.rst-content .section ul ol li > p,
.rst-content .section ol ul li > p {
    margin-bottom: 0.5rem;
}

/* Remove vertical spacing for li WITHOUT paragraphs in NESTED lists */
.rst-content .section ul ul li:not(:has(p)),
.rst-content .section ol ol li:not(:has(p)),
.rst-content .section ul ol li:not(:has(p)),
.rst-content .section ol ul li:not(:has(p)){
    padding-top: 0;
    padding-bottom: 0;
}


/*--- External links --------------------*/

/* ::after creates a pseudo-element used to add cosmetic content.
 *   See: https://developer.mozilla.org/en-US/docs/Web/CSS/::after . */

a[href*="//"]:after
{
    font-size: 0.75em;
    font-weight: 300;  /* light */
    color: var(#121212);
    opacity: 0.5;
    content: "↗"; /* top right arrow: ↗ \2197 */
}

a[href*="//"]:hover:after
{
    color: var(#2749c9);
    opacity: 1;
}


/*--- Local links -----------------------*/

/* ::before creates a pseudo-element used to add cosmetic content.
 *  See: https://developer.mozilla.org/en-US/docs/Web/CSS/::before .
 *  Add more filetypes here if you want. */

a:after {
    font-size: 0.75em;
    font-weight: 300;  /* light */
    color: var(#121212);
    opacity: 0.5;
    margin-right: 0.4em;
}

a[name]:after {
    content: "🔗";
}

a[href$=".pdf"]:after {
    content: "🔗PDF";
}

a[href$=".txt"]:after {
    content: "🔗TXT";
}

a[href$=".mp3"]:after {
    content: "🔗MP3";
}

a[href$=".zip"]:after {
    content: "🔗ZIP";
}

a[href$=".rar"]:after {
    content: "🔗RAR";
}

a[href$=".webp"]:after, a[href$=".jpeg"]:after, a[href$=".jpg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after {
    content: "🔗IMG";
}


